* {
  box-sizing: border-box;
 }*:before,
 *:after {
  box-sizing: border-box;
 }

html,
body {
 height: 100%;
 position: relative;
}

.App {
  text-align: center;
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
  margin: auto;
  width: 90%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.info {
  text-align: left;
}

label{ 
  margin-right: .25rem;
}

textarea {
  width: 100%;
  height: 500px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.flex-container > div {
  width: 50%;
  margin: 10px 10px 10px 10px;
  text-align: center;
}